
/*--- import Fonts ---*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



/*--- import Files ---*/

/* @import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css); */

/*--- skeleton ---*/

:root {
    --primary-color: #ecad15;
    --secondary-color: #333;
    --blue-color: #3498db;
    --yellow-color: #ff693d;
    --grey-color: #666;
    --hover: #ebc30a;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    --font-family: Poppins, Arial, Helvetica, sans-serif;
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
     overflow-x: hidden;
}

body {
     color: var(--grey-color);
     font-size: 16px;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     font-family: var(--font-family);
     padding: 0;
     margin: 0;
     background-color: var(--bs-gray-100);
}

a {
     color: var(--secondary-color);
     text-decoration: none;
     outline: none;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0;
     font-weight: normal;
     line-height: 1.5rem;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: var(--blue-color);
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}


.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}
.header_section {
    width: 100%;
    border-top: 15px solid var(--secondary-color);
    position: fixed;
    background: white;
    z-index: 99999;
    box-shadow: 1px 1px 5px var(--bs-border-color);
}
.logo{ 
    width: 50%;
    float: left;
}
.bg-light {
    background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #595858;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    background-color: transparent !important;
}

/* BANNER SECTION */

.banner_section {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 2rem;
    background: var(--bs-body-bg);
}
.banner_title {
    width: 100%;
    font-size: 70px;
    color: var(--secondary-color);
    font-weight: bold;
    line-height: 4rem;
    margin-top: 1rem;
}
.banner_text {
    width: 85%;
    color: var(--secondary-color);
    margin-left: 0px;
}
.banner_section figure {
    text-align: center;
}
.read_bt {
    width: 170px;
    margin-top: 20px;
}
.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: var(--bs-white);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px 0px;
}
.read_bt a:hover {
    color: var(--bs-white);
    background-color: var(--hover);
}

/* COMMONS */

.section {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 2rem;
}

.section_title {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #050505;
    font-weight: bold;
    text-align: center;
}

/* VEGETABLE SECTION */

.vegetables_section {
    background-image: url(../images/about-bg.png);
    height: auto;
    background-size: cover;
}
.image_2{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}
.image_3 {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}
.lorem_text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #050505;
}
.read_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    margin-top: 50px;
}
.read_bt_1 a:hover {
    color: #ffffff;
    background-color: #ebc30a;
}

/* SHOP SECTION */

.shop_section {
    background-color: #f9f9f9;
    height: auto;
    background-size: 100%;
    padding-bottom: 90px;
    box-shadow: 0 5px 5px -5px #f2f2f2;
}


/* ABOUT SECTION */


/* CONTACT SECTION */
.contact_section {
    background-color: #fafafa;
    height: auto;
}
.mail_sectin {
    width: 100%;
    float: left;
}
.email-bt {
    color: #989696;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    margin-top: 25px;
    background: transparent !important;
    border: 1px solid #e8e8e8;
}
.massage-bt {
    color: #989696;
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 50px 20px 10px 20px;
    margin-top: 25px;
    background: transparent !important;
    border: 1px solid #e8e8e8; 
}
.send_bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: var(--hover);
    padding: 8px 0px;
    border-radius: 50px;
}
.send_bt a:hover {
    color: #ffffff;
    background-color: var(--hover);
}
.map_main{
    width: 100%;
    float: left;
    padding-top: 22px;
}
.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding-bottom: 90px;
}
.address_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
}
.enter_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ababab;
    background-color: #ffffff;
    padding: 5px 15px;
    border: 0px;
}

.subscribe_bt {
    width: 150px;
    float: left;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: var(--hover);
    padding: 8px 0px;
    border-radius: 50px;
}
.subscribe_bt a:hover {
    color: #ffffff;
    background-color: var(--hover);
}

.location_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
    padding-top: 10px;
}
.location_text a{
    color: #ffffff;
}
.location_text a:hover{
    color: var(--hover);
    background-color: transparent!important;
}
.padding_left_15 {
    padding-left: 15px;
}
.copyright_section{
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}
.copyright_text {
    width: 100%;
    float: left;
    color: #171717;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}
.copyright_text a{
    color: #171717;
}
.copyright_text a:hover{
    color: var(--hover);
    background-color: transparent !important;
}
.margin_top_0{
    margin-top: 90px;
}
.margin_top_80{
    margin-top: 0px;
}



/* Slider */
.slider {
    margin: 0 auto;
    overflow: hidden;
}
.slider-container {
    transition: transform 1s;
}
.slide {
    float: left;
}
.slider__arrow-nav-container {
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}
.arrow {
    display: block;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,255,255,.7);
    cursor: pointer;
}
.arrow--prev {
    left: 25px;
}
.arrow--next {
    right: 25px;
}
.arrow::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    width: 16px;
    height: 16px;
    border-top: 5px solid var(--blue-color);
}
.arrow--prev::before {
    left: 15px;
    border-left: 5px solid var(--blue-color);
    transform: rotate(-45deg);
}
.arrow--next::before {
    right: 15px;
    border-right: 5px solid var(--blue-color);
    transform: rotate(45deg);
}
.dot-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 .4em;
    background: #d3d3d3;
    cursor: pointer;
}
.dot.is-active {
    background: var(--blue-color);
}