/*--- base ---*/

:root {
    --primary-color: #ecad15;
    --secondary-color: #333;
    --blue-color: #3498db;
    --light-orange: antiquewhite;
    --grey-color: #666;
    --white: #fff;
    --hover: #ebc30a;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    --font-family: Poppins, Arial, Helvetica, sans-serif;
    --gallery-gap: 1.5em;
    --gallery-items-per-row: 1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    background-color: var(--bs-gray-100);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: 1.8rem;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 28px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: var(--blue-color);
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    font-weight: 300;
    line-height: 1.2rem;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}


.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.header_section {
    width: 100%;
    border-top: 15px solid var(--secondary-color);
    position: fixed;
    background: white;
    z-index: 99999;
    box-shadow: 1px 1px 5px var(--bs-border-color);
}

.logo {
    width: 50%;
    float: left;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    background-color: transparent !important;
}

/* COMMONS */

.section {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 2rem;
}

.section_title {
    width: 100%;
    float: left;
    font-size: 50px;
    line-height: 3.5rem;
    ;
    color: #050505;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.heading_image_section {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.image_section {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.read_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.read_bt_1 a {
    color: var(--bs-white);
    background-color: var(--secondary-color);
    padding: 10px;
}

.read_bt_1 a:hover {
    color: var(--secondary-color);
    background-color: var(--hover);
}

button.toggler {
    padding: 5px 15px;
    border: 1px solid var(--bs-gray-400);
    border-radius: 3px;
}

@media screen and (min-width: 992px) {
    button.toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-nav {
        min-width: 520px;
    }
}

/* VEGETABLE SECTION */

.vegetables_section {
    background-image: url(../images/about-bg.png);
    height: auto;
    background-size: cover;
}

.paragraph {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #050505;
}

/* SHOP SECTION */

.shop_section {
    background-color: #f9f9f9;
    height: auto;
    background-size: 100%;
    padding-bottom: 90px;
    box-shadow: 0 5px 5px -5px #f2f2f2;
}

.vegetables_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gallery-gap);
    margin: 3rem 0;
}

.vegetables_wrapper__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--gallery-item-border-radius);
    flex: 0 0 calc((100% - (var(--gallery-gap) * (var(--gallery-items-per-row) - 1))) / var(--gallery-items-per-row));
}

.vegetables_wrapper__item img {
    aspect-ratio: 4 / 2;
    object-fit: contain;
}

.vegetables_wrapper__item .body {
    height: 100%;
    justify-content: space-between;
}

.vegetables_wrapper__item .title {
    font-size: 120%;
    font-weight: 500;
}

.vegetables_wrapper__item .subtitle {
    color: var(--primary-color);
}

.vegetables_wrapper__item .price {
    font-size: 90%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: var(--primary-color);
    padding: .5em;
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 700;
    border: 2px solid #fff;
}

.btn-shop {
    --bs-btn-color: #fff;
    --bs-btn-bg: #333;
    --bs-btn-hover-color: #333;
    --bs-btn-hover-bg: #ebc30a;
}

.vegetables_wrapper__item select {
    border-radius: 5px;
    background-color: var(--bs-gray-200);
    border: none;
    padding: 0 5px;
}

.vegetables_wrapper__item figure:hover img {
    scale: 1.5;
}

.vegetables_wrapper__item .title:hover {
    text-decoration: underline;
}

@media only screen and (width >=992px) {
    .vegetables_wrapper {
        --gallery-items-per-row: 4;
    }
}

@media only screen and (768px < width < 991px) {
    .vegetables_wrapper {
        --gallery-items-per-row: 2;
    }
}

@media only screen and (540px < width < 768px) {
    .vegetables_wrapper {
        --gallery-items-per-row: 2;
    }
}

/* ABOUT SECTION */

.about_section {
    background-color: var(--light-orange);
    padding-bottom: 90px;
}

/* CONTACT SECTION */
.contact_section {
    background-color: #fafafa;
    height: auto;
    margin-bottom: 5rem;
}

.mail_section {
    width: 100%;
    float: left;
}

.email-bt {
    color: #989696;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    margin-top: 25px;
    background: transparent !important;
    border: 1px solid #e8e8e8;
}

.massage-bt {
    color: #989696;
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 50px 20px 10px 20px;
    margin-top: 25px;
    background: transparent !important;
    border: 1px solid #e8e8e8;
}

.send_bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: var(--hover);
    padding: 8px 0px;
    border-radius: 50px;
}

.send_bt a:hover {
    color: #ffffff;
    background-color: var(--hover);
}

.map_main {
    width: 100%;
    float: left;
    padding-top: 22px;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding: 3rem 0;
}

.address_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
}

.enter_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ababab;
    background-color: #ffffff;
    padding: 5px 15px;
    border: 0px;
}

.subscribe_bt {
    width: 150px;
    float: left;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: var(--primary-color);
    padding: 8px 0px;
    border-radius: 50px;
}

.subscribe_bt a:hover {
    color: #ffffff;
    background-color: var(--hover);
}

.location_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
    padding-top: 10px;
}

.location_text a {
    color: #ffffff;
}

.location_text a:hover {
    color: var(--hover);
    background-color: transparent !important;
}

.padding_left_15 {
    padding-left: 15px;
}

.copyright_text {
    width: 100%;
    float: left;
    color: var(--bs-btn-color);
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}

.copyright_text a {
    color: var(--white);
}

.copyright_text a:hover {
    color: var(--hover);
    background-color: transparent !important;
}

.margin_top_0 {
    margin-top: 90px;
}

.margin_top_80 {
    margin-top: 0px;
}

/* Aside */
.aside-menu {
    height: 100vh;
    min-width: 300px;
    position: fixed;
    left: -400px;
    top: 0;
    z-index: 999999;
    background: white;
    box-shadow: 2px 0 15px -10px;
    padding: 2rem;
}

body.aside-active {
    overflow-y: hidden;
    position: fixed;
}

body.aside-active .aside-menu {
    left: 0;
}

body.aside-active .aside-overlap {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0/80%);
    z-index: 999998;
}

.aside-menu .nav-item {
    margin-bottom: 1rem;
}

.aside-menu .nav-link:focus,
.aside-menu .nav-link:hover {
    color: var(--primary-color);
    background-color: transparent !important;
}

/* Slider */
.slider {
    margin: 0 auto;
    overflow: hidden;
}

.slider-container {
    transition: transform 1s;
}

.slide {
    float: left;
}

.slider__arrow-nav-container {
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
}

.arrow {
    display: block;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
}

.arrow--prev {
    left: -70px;
}

.arrow--next {
    right: -70px;
}

.slider:hover .arrow {
    background-color: rgba(247, 231, 196, 0.7);
}

.slider:hover .arrow--prev {
    left: 25px;
}

.slider:hover .arrow--next {
    right: 25px;
}

.dot-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 .4em;
    background: #d3d3d3;
    cursor: pointer;
}

.dot.is-active {
    background: var(--blue-color);
}

.banner_section {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 2rem;
    background: var(--bs-body-bg);
}

.banner_title {
    width: 100%;
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: bold;
    line-height: 3rem;
    margin-top: 1rem;
}

.banner_text {
    width: 85%;
    color: var(--secondary-color);
    margin: 1em 0px 2em;
}

.banner_section figure {
    text-align: center;
}

.read_bt {
    width: 170px;
    margin-top: 20px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: var(--bs-white);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px 0px;
}

.read_bt a:hover {
    color: var(--bs-white);
    background-color: var(--hover);
}

@media screen and (min-width: 768px) {
    .banner_title {
        font-size: 60px;
        line-height: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .banner_title {
        font-size: 70px;
        line-height: 4rem;
    }
}